Source: flexitimer
Section: user/other
Priority: optional
Maintainer: bale@balenet.com
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: www.balenet.com

Package: flexitimer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Time tracker application
 Keeps track of projects and creates reports
XSBC-Maemo-Display-Name: Timesheet
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c
 6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0
 SU1FB9wDFw0KC0ajwVMAABXTSURBVHja3ZtdjBzXld9/596q/pjp+eIMP4YS
 SXGHFElZMmxpl+skdiJvwE0eEiAIDKzzkkdhF3EsIAkCxMAiDwaMvCSIZC0W
 0FOQh2AX6zwEWSzWFrBWvN5Ylpe2tJJsyiRXImVySA7JnuF8dHdV3XPycKuq
 q4ekltqlEiENFLpnqrrqnq//Oed/Twsfw2v7Z3/Xi/gUxAEpICBJfC9fIo0/
 DcyatzCwIr6Tg6lZyKdPfS887LXKX+dLOz/7AlOn/nQs8LlnneCOIrIM8hhw
 0nR0HMuXsOIEWAt0L9aQj2IstAjQ0I8AuDWQDEneRdKb4trngXNg72O2auh7
 0ydf1fut6WNVwNjSf++0iP8S8JTpzmF0c9nCzgI2wDQDAlgeBdacUuL4TAu1
 PgRAfEM7IrjKcVLAI64F0kX8VB83sypu6jLwlln41vSp//X6x+4BOz/9O0w9
 8Weltj//G+B/G8uOWHFjSvMbDt0pLatm9mD3lfKqSe//0OsNnICAm8Kl+1SS
 fTtI6xKEr0+d+v7v717rQ1PA5tt/2zknZzB9ARuesOwqWly3v6kXPYSXuWS/
 SOsgSOddxD2vaq/MPPm/9W+sgK03PkfvM6+x9fbnj4B9Db3znGXXseyGGcj/
 c9GbQQMmrX0irf3gZl8G+Ubvye9fqmT4yArY/PGvMvP0D9l64289axJetmz1
 uOWroAWf6JdLkHQZaS2fF/PP9T7zg1crWR5YAZtnTzPzzOvcOXv6i074Thic
 Twj9Cr7lk62Bco1+Ad89Xqjx67PPvP7dSqYH94Czp581s1d0cM5bsflJF/re
 1k1mzHVPBhE5M/PM668+sAds/Oj0ESG8ojsXj1u+/sm3+YdhQzqPm1o5b/gz
 c7/y+qUPVcD6d5+mvZy6bF1/17Krz9nwCv8/vKTzCNI6+HJr3v3WaDXX+S/+
 +P4esP7qM/8Av/XHunMRrDBAmnm6+lj970Fz+McqoOx6n/y/IYm4qRUIvX84
 /+zZbze/m9x1N1+8YIObWFHQFN4MgoIaWPn+SVBAU3gRcC6WSs6NC2uRAhvc
 RLqdF4CTd4XArf/5aRb/8V+w/ief+Q1j8Hth611DkKpHCRqPPAc/9xR++pcw
 0ugNdjcATyaLe33+q84/GNA3lSBiELbJN/4CBldJW+DdhCLM906I0P3y/K+9
 8fuVzBNP6//JZ97WwaVPWd7HGlYvChhlMHPqXzN/4isk04/Vmv9EYV4YMbx9
 lptn/w3h1g9ot8H7qAgBJF3AdY+8s/BrbzxZlw218K98+jQhO6LDvqFgIdY8
 oYDBDrQe+Wfseeq3SacPIQQEnTiwEBscje/3P1/Un+93vrrmvvco3++6xiV0
 lz7Hns/+R0L6CNko9mBWPlKHfSNkR/qvfPr0XRhgypcs60+ZIk3rZxkUMs/c
 id/EpzOYKZtbW2xubpYYYDgRFhcXabfbgJFlObdv3yaoghlmxuzsLL1eDxFB
 Vbnd7zMajerzrVaLpaUlRAQRYWtrizubm5gZpgoiLC0t0W61EBHyPOfW7duE
 EMAMVaU302NhfoHu3tP4xb/P8NJ/rVonfDS16LA/Ja29XwJerxWw9odPODN7
 SkfrTuKaMYsekGeg3Ufw3WXMFFXl1s2bjEaj2PupYmb4JGHf3r2xjtjYYGNj
 AysXZmYMRyOmp6cREYbDIbdv3cLMCOV5U2W612N6aooQAjdv3mSUZZjGZxal
 oIcOHcLM4jPW1wHiPTQaZnZ2jsSntOaeYqtIKLKCFDAX6RkdrTuXLj219odP
 uL3/6KeaADhxRy0fHrZ8FLkYQMvYzzPIE9eMFpxzpK1WXFxpQSdNUJLJ86p4
 55DGNUmaghleNT4vjMkeM8N7T6vVQkNAzfAhIM5NPiNNQQQfQlRi5S0egnqy
 kdAWCA5cAmJgOsLy4WHn2keBi6584rIVg+WY4wAtU10olVCAlnlPHhD9VLUW
 xu7xPWkIa2bo7nwqUntQdR27vhNDV+tnWOO6ojDyAkKIxrTSs1HDisEyZss1
 CJraY5YNFyxYxLCmAgKEYGVYNCuixiIanydQuVFETCy68R3bdb/d95RSEbV1
 d92/Ft4mDWQWAVxDPKzGUDPLhgum9hhAsvYHx70FO2lFhuk4LVbISQm4zezb
 nZpisLNTW05E6E516wV1Oh1a5fkKCKfK+FczkiSh3elQFEV0X6DdbtNqtWqh
 p7pddsr7VyE0MzsbMQXodjrsDAZxDWUItDsdnPcVL4WWRrRQmtqV1EGRYcFO
 rv3BcZ8AqeXZcSsKaAiKjkOhdp/yxot79qDz87UVxDm8c2NldLssLy9PtunO
 1dZOkoT9+/ZNeI2III17zC8sMDc3VysEwHsfQ0KE7tQUB9vtcWlePcMMBTAZ
 Gy9EEIwsDpgUWJ4dF3FpYmrOrFiyoFHoykWbbqOTbl4BUOWeFRI33T5Jkjql
 Vee14cLOe1zjvJlFpG+kVpemEwoIJahWtaQvn9HEHTWLYGc2Nl551MYNimmx
 hKQuQUkJ4QRFqC+i8oBS+Ga5K8DOYMD29nadf533zM/N4ZNYVoRQ0L99J7ph
 CCBCr9djqtsty+eYxrLRqFZsu91mdnYWJDJtg+GArc2tWjBxjvn5edJSKapK
 v9+PIVEqt9fr0ev1Ij9mYxlqWSoW3gIU4QQ+TRMLJhasZWoTCqg1V37RGsBz
 /fp1BoNBDVxVrl9aWop1wPoGa2tr0ZNUCapsbW5y9OhRKOuAa9euRYs1POPY
 ygqdbhcNgevXrjMcjQhFUWNJnuccevRRgirr6+usra1FI5Q40u/3efzECbwv
 w7dMDbUsjV7C1FqISYJZgupeglbk4gQGSKlJ2YW0FWBVaYhdzpO2WnWaqizY
 RPU0Ser8b2aEEOpawMxw3tNOU3LnYo0hUoaVx7mIB71eD1Ulz7LaCCEEfDop
 A5UXa8O6QfciliQEkxgTZtLk80PDfQxM434FVRxXmNB4p0prjc+1giKpP76m
 /KyNTYSJ9GgGztFOEnZ2dtjY2ODKlSucO3eOUCotTRKmp6eZnZ0lTVOyPB+H
 qu1SQJkJIgiaEVQQk8RUo+sropNpvj5KWL0rH1eCacMLpEESVIhce4oq4n2N
 HbXHNIVugOidjQ1+ceUKm5ubaAgR8ERwIjWoWplWFxcXObB/P87FXBfvOZnF
 qjAQQaLMShJjX+tcX29N6q4soIYGxTuh3W6zMxjgSndOkiSWrRqDLk1TxDmc
 aizAvdBpt6P7q+K9J01TihBwpUf4VoskSUCELM+5fPkSq1dXY8rcv5+lxUXm
 5uaYmp7GO0ee52xubbHe73Pjxg3Wbtzg5s2bmBmPn3oSh4sy7fKA2tM0sjpJ
 dPUGxdPEAGsc5QlVZWlpKYJTWbKKCN752qrT09N0Op1xONQ5fGzd/fv3T6ZF
 52i122xtbnH2x2dZX19n+eBBjh07xsL8PO12mxACGxsb5KrMzs6yuLiIHT7M
 YDDg2rXrvPPOO7zx5pvc2R4yPdiORquKIdekUcpWVyg9IBgaGnt17K4Bqtgc
 L7gCuRoygk5QVFUdUAFfFHZcUnvvo8Ubzc9wMOCHP3yN4XDEyRMnOH78+ETa
 G41G/OQnP8GApz/7WebLYqzT6XDkyGGWDy7z2g9e4y8vXmB/2sPUU4SCEGJD
 JKUGzECCgTMSgmLBYtrYDeU6mULMFBFHCIHhcFhb0DlXcgHjXDsajWKv3sga
 ruzmRIQsyyiKULtXmrY4e/YsWZaxsvJLnDx1CoH6Hs75ccV4r6bIYuh94Qtf
 4Pvf/1M+uOo5+tRvUrz9AsGDuujkrgQqC4a4EgNoVEpjeqlRQanVWcAMVldX
 2draaiA2LC8vs7CwABjr6xvcuHGj5g/MjJmZGQ4dOgwYw+GIK1d+QZ4XqAac
 c+zsbHPnzh327dvHiRMn6wzRbHxUrcFGW405VYlmqjjxPP30M2xtf48rO5/n
 6ME/J1v9M1IHzkfhnVTGNVxsgQUxQRRkV96UGgusjKlACIFWq0WaxiNJPEWR
 1wopipwkiUCXpilJklIUAdWAaszVVTkdv5+wvb1Dq9Xi1BNP4JwQgtbhUglq
 Ngal8f+aIQpFKJienuLE449T5CP6B/4p6hKKfNwVouV0ihrOiogBTYs3KLcx
 N7Cr2Jl0v927BnHr2MqODGwXiWoTeDEajRgOhxw6dIiZ6V4ZGmOhxgJOjFSM
 uQS1CeUXReDQocMszM/TL+axvb/KaEStBNW45WGF4SL3ZVGZ2qj9rTG6U3eC
 OlmooKiGeyqlwgeRZrkcwcXK2lpVcSIMBgMSn3DgwAGKUJShEzDT8ghj61tV
 k1S1SHVeCSHgnMdMabVSDj36KIU6tronKQooxrhWazYxNSuLhMkdoDAugqpu
 sJpwcc5hOo5/THES/1dSbBgltphhRJSnwR8gEj1PIiZ0p7p0u12KuCFzF4NU
 P6+s8ioorFrgah1VZZllOUt79yI+YdA6QNt3KYoBhUBKWQg5s8TUClPWzGRv
 VQtUrPBkFRUX74Clpb3kWTZ2SRE6nQ6h9IZer0eapg0vgCSNhZKhpEnKvn17
 CUVATVldvUanM2aM456M1QqNuxpxDVVPsr2zg/NuIiymul1cSboURcSCVqtF
 nvVQN01RDAgOEhFMWSNYkVCYoWQSpNEuRvCTUL5rHQMoRuI9Sbc7MeRjzZax
 zM3iynvWYaNVL0aatmi3JVpcy+bIqmyzuwWXsocYh9P5n/+89hI1w3vHr/zy
 L5OkkYwVEZy4WICZJ1gaZzscMQ0EMswswWmO8q6ZPDLRDlvzkJqKihlE0aIs
 bEp39d7XFhMnsWEprB76iiEQccSJK7NJzAgIdVts9wBbcYKGWHL7xFOMCrz4
 e3COkGUjnHN4iZWnquJQNCiqY3lMeFec5okVqKncxGTcLu6uA0qjVCFw7do1
 tre2a5cHYfnAAWZmZ+JwxZ1N1tbW0BAIpqgas7MzHFw+iCDkWc7Va6vkWVbi
 QcwEpk2Ajf+PDWgEIxHHyRMn6zRqWI0FIlHxYlJ7z2A4IM9zusWIMBrWPU6k
 y+SmGZqA5picN5UJSoxGO1mlGilBKMsynHd1qVuVqTM2U6e1OPrn8SqIKHmW
 1xbLixwNId4DIU1Stre3GY6GtNLWRKpsTmOpBWZmZnax54KWpWpo9BaJCP3b
 t8mzEb3hLXTnDnQqmQSE876ruTvy79eDBc5hjjLrTNQBpkx6BiWK10Zq8HpV
 sSLjkjW+R2sakyRo5eKdTocsy+jf7uOcI2gEx0h3jRknLJbG1VEUxfgo02dV
 faoqV69exUJBunUJza3iCAxzaM65R//teihJPHsfXB9jYYJmbYzxVllAypRU
 d4cNt6kWOVEPxKRbA1wExogNghAs0GrHavLKlSvs379/oo6491yPNPiIxt/l
 ohOf0O/3WVtbYyqF4oM/p+NqZlwQ148yVxsjpqvgVq3Bo9UhYMS4kjHYVOlK
 NTZSkaoeK82JK60RhbZguLIZb+70VN/HoNPtsr6+zuXLl0lKQLXSAyZYKRt7
 mtnYQypvqbzkwoULZIUyffMs2Y0rtDz4mrBxq6a6Wm+Omvj3RLmMuSdqtkfH
 vYDlI7TIIg4ILC4ukpV1QL2RMTVVC9fr9RoFSjy63fHGSZqm7NmzGEG0VNrC
 ngXO7Zzj0qVLTE1NsWfPnrIosgmwq1Mld5ffFbv83nvv8Yur15jjDps/+m/M
 pJAIeANnDjF3uZ3492oPWPkPfRVnb4mk2iRDpZzMHa5dYvvqz+v4StOUXq/H
 zMxMfYhIzdVJSYP3ej3m5uaYm5ub6Osrhcz0Zurr9izs4dixY2RZxrlz51hf
 X4+p1WwiRTZTpe3aTmu321y6dIm33/kpXVew870XSUabdFJoSekBLlXx9taj
 3+jrxICEFfYtcclOGZxxT738ki9y3vuj/0y+dTu2nRWLq1bn2pj/Xfy7PG81
 aI17CCl3iOI9tG5kRqMR+/bt4/ixYwyHQ958801WV1fjBolz99wgncgEqjUj
 lIQheva/YGvnmGpB10MrMnPmXLITMvvv95wS+8t/1Xtbs+GnLES6KwswLOBO
 BjfXof345zj2T/4dveVj+PZ0GfZ2n8k7m2CEqtitQUzu1UUKaZJw/fp13r90
 iZ1Rzp75eQ4eXGZmZiaSKtU0VLlXMBqNuH3rNpc/uMydzW3a+W342f8gP/9d
 5tsw24FeCp0E0jTBtzvvrPynrScnJkQ++EaPQ1/bAvTruOT3CHE8zgskDjoe
 5magf+E1fvLSP6d14CRuek/ZRP5V2+W7h6DuPZ9ZxXlUmGNYKNNHT3PHfYqb
 /Q3aqafb7dBKEpz3FEXBaDRia3tAVgQ6jGhf+RGjc3+E61+Kgregm0LLg3OY
 +ERAv96U+a6VXHi+e46QnbAQUIst5CjATgHbGQxyGBTROwqd3DV6WIO+ahAM
 zLXoHHicPU+eQfadovAz5HUbDd4ZreEtwuqb9N/6Dm7rGl1fMNOKVp9uQTeB
 xEdSVpLWu8dfGJz80DlB3+X5sJ38MRIQMO+QqjbzQNvDlEJeEgv6MKanZZx+
 taz+CoVMM7Lrb3Ptg7ch9bQXD9Ge2YckKSEbsLNxjdHtq6RAtw1TLZhKYTqF
 Thpj37s4HSMuIeny/IeOyr7/tS47F3HtA/yuhfw506LmS4JCXs4LFs2hyYf4
 46UquwWLys0tKjorj7yIzy33Y0g8tJJ4tF2M804aP7d8PB+HJhMkSV/Or/Fb
 3RX0sW8MPnxY+sLznSNi9oqG/DjVDE+jOyxJ5DFB8zBDoLy3anxOofGolF95
 iEiZpQRSD2kpdOoibvlyYhTn8D49j8iZlReGlx54XP7iV9vPmtkrpoVHVe6a
 EeaetcjDw4GGEiqPCDb2klK2iAUSBU5KxteViQLnzLkkiMiZlRdHDz4uf/Gr
 bVZeHHHhX7a+CHwHLZIxu/nxDc/faxC78r7aA3fNCVf1SpUdBSz2Xw7nksLg
 1499M/tuJdNH8QBWXhxx8avps8DLFsJxK9vOj2NMtk6W1e7NrrCouEDbvXjZ
 JYSAiEO8Pw88t/Ji/ur9hJ+oBHe/ovAtVl7MXzXkjDj/sjhf0VzWZIsfFgjW
 GaH8uz4qty6Hn6tD3NgLABMnxDX6lw05E4Vv3Vd4PkoGu/CVxInIGTN7ATiB
 KRapGhH42H5Vct/58bE3mDgn8Ve6vCsiz5vZK8deKh7oZ3PuwefyRVe+mX/7
 2EvFSeDLIu4d55NtcU6bK7Qmg/5hx70kvcchTW5ycucFcU7LNbwjni8fe6k4
 ufLN/Nsioh/Z8/46r4v/wp9G5EvAU5gdBls2WKgHJO4ulCd2qO+zkgmjW4MA
 KQeo+iCriFwG3sLsWyu/Ez7+n85OCP6VhJWXiqYiHCJHDZYFHjM4CXbczJYE
 TgAtYO9HfMwakFl065sg5wXOGbwvsIrZeyu/E/R+a/q/4gH3e53/ivMYqUjz
 5/MkH+F55c/L48/nzUwR8uMv6UP/+fz/Ae4lGoUzbZpIAAAAAElFTkSuQmCC
