Source: flexitimer
Section: user/other
Priority: optional
Maintainer: bale@balenet.com
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: www.balenet.com

Package: flexitimer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Time tracker application
 Keeps track of projects and creates reports
XSBC-Maemo-Display-Name: Timesheet
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
 bWFnZVJlYWR5ccllPAAAGqJJREFUeNrUWwmQXcV1Pd3v/WVm/uyjGe0ICUkYBBJoA4fNAYNQYgQY
 jME2GCekAtjYbHHiVCqxUyZgYkPAFJWUDa4Yu0xsFoMlwAbMKgzGCEkIkMSIWbTO/ufPX9973bm3
 +72/jEQCRiQwqtb7/23d9/Rdzr3dX+R/dwVq/wQ1H1qM0scShIxBulOh5QCd13Rugu6oo2OCvipo
 JwOpFjpK93ZoOebAibdJ/5DrNYYXA9lmLfIxCE3v80VtP8q+r9ynrB2FdvkhOtZ5QENaoH2jcntv
 RlAaEaolkOKQISW3BiJopJvpWV2kt+XpmDLvE6oTyt9LQ6THdZze00rn3ao+7Z+Lg/InZlI7gVqS
 OmjWMr9U68JC6IJLRyOspgEyYFZYHkcpBAFWeBEPP2srEBhgae8Xjg+Rp7Hq0+lLmhq9VDxHF3vf
 78jfBwCS1EJcDngzlNO7XKmho6FHSa5xknMDXWfkqakgBMCbBICahKGsAUCImAVGOvQ9RuOMHSlk
 /XeFbCJcfL60id7/e1LBXXTznXTz3v8DAARPxywI9zYldy/WojhHB/ug/QGSh2eYBqaDWi0Tk9+h
 3+F8FSD0Ds3v4b+g6jQ/IxgQF0omjhZu59HCydKoEhdLNWUj3XAVXezfT8/fPwA8O84MCO8GLSYu
 UOhPqCLZlz9kB64P4EYO1p+YhJ0BhgAKyOb9cfq8g/DomKNjU+cI0bpKoP5e6Ng3aMy7DhIAkvot
 rCbBbwlU9wLtkaZ5w+8e4g/8T1kNLJCTjrUnRGzqxY6cdxzQeDWNfd37BIA1Xt8ciDe/EhS3J3SJ
 OlH+wZ3hg/RnJqQwDJTSUPHRBU5s/v1SdN1Og73+jwTA2Pvtgei7MshtpVkfxUfijyZI+7vhx/IJ
 J7HwOonpHLO/8k5+4R0AkJKkv9kXO69U2TfI3jL4yP0VRxH4W6CT6kpXH0oeWl5f62kjAITc3+Hp
 0qpA7LwsKGwjlfoICl8OJhlyl9uIs8Uuc3TTExB16yZj4OrC+GSX26Hje271i92NOj/2obT39/RH
 MvjobhRuw62iOO0lOjNUbQ0uSoUaALRTusX3e+ar/GAlwumPkMAi5FLCDtt8JVn8up75btBwiwji
 X6gWSGSfOr/qaWeWEt07/NJ2V5XGyt6VyVxATalaLvNhFJ4FZwcmXXsUoQbLeAvc+Hxf6nlzSZr+
 igZ4bmX2ZebWQIy6qjAGRUJyCyjq+Uzw6g4Bkm0EAtPaD6n8RnjyYaXdELl9iMUsk2YgQDL5zqgb
 09lbhWr8dDSLri4motmfHcS7Vypidxzqg1D4UuDAnXUp6ud9mVhoHVHe4EOt/4IAUBSyc29+C8WB
 dYhRjuU6oS0UhhC4AyudUudskq7PaoAzED18qUZ2uiqmjcqzuhfJPfj189By1E2QsWY6WfrwO0W2
 f3cB9OH/iLHBl8kJDpgc1fgEnYZ2s9Ph7L2Uvn3TACDkNANPoHfMCYqDQtPUc6LmkaxFzm8aZ1CK
 30qopj864c/z4KbmoqRaoIoDcBzrE8jIwTLKWOccR8w1aLmUxcUFZJcS/jJOZTn74nyDzaDIE+6J
 2pQs6uRdOAIhxP/LMyJMt4tFbcoOAfmCWBgdWEYV85c5qjRLQ+1zg1J/Kz1ykhJji5RfMrIar+9b
 LUCJnQhhV92J1hX3Sp912KKBmKPVufJnTTYl/qdnpCxfi85VX9dhCIrOlfuInpGyBhC+QorARS0o
 cnOKtYABIIEowi3ydd9J9O1xV6kxbZwh2QdC9efG/TEI2qdcMJ9H4OVrZ6VKCH6BQwNQkVCGTMvy
 AHlA+z1DzXFdCq+BuV+YIggqQlWBbR9Vth/S54DCUgRCBES1FvC7fL9IjVQ8sPOFqBbDMvrk54Qw
 9THXEXM6lci2B8U+Un0b4gwAgR1LOp3BIw89BIf4VDUAumpg3Pn4+Dji8TiSyaRVEIo9chIASmkb
 qkgIRYKPjIwglUrBpXglwjgmJwGgIuAMHwlMP83NzSFgwgglJwFgk+Q42jIlJGMoO3VTUKErgT8O
 JzG/XeqGTpeuXC+EXgpWf79ckDGIEYhomdKK0y++aJKjVYYPBAYwjQQJ/sDPf4GlK1ZgxqyZhLxP
 QkqjFWag9E8ZoKyF7tu7F/X19fjVAw/inPPPJwflWGDoftO46mOE536CMvfIZSdoMn6Fiy65BIVi
 3gDJwkvp2PhfVWQld4ff3flt+Olw9oMqEueUIGL6SzTTi13ljSwmJZ+vAlWmvpEZ8PfACzBR9BFU
 JUWsthaAwAAQi8dQ8opmEKNjwwRAYARxGATHKav2+FgaTz35FN58401c+IWLjJYE9J5R0gS+LwKA
 P/NIon6ilstlDanxabKGhwdIc9zy/XwUiPwJ8TsyWZ9oflxX5NGRIyRZyQ/MFyj4rvInmskxxLWv
 bAQINcA0VeHVtTYmaoi31VJWU8u+zYAcaako/ZeIJ9Db04uHH3gId//oR1iwYEF5sJN5ddm36cib
 VySwjpD78+3shN+5D/NPRKNSpoinlajIElTlNSSrkjmKfn4zhcF8THOs8KPpD1VGVUr31Q63epCs
 aKympoAZhis/8JAdn0Amk0HXtC50TOnAtje24cYbbkL3jh245JKLseTYJWhINRhTsTLa6RGh5KIs
 PTtIG5a0aSUjHNf6uSYoJN8r7RjNI9YnWDjI5JS28gRVThAWAO2wUw9irnkxCxHYm3W1yqgDJz6R
 A6z5HmrG0MAgnn3qWbyw/gWcvup0LFuxDHfcdofp4+t/+3UsX7HUqC4Lr5QK+2QAHeqPpahKQXls
 Jgvz7AIHqb7kuEzOSQclE9e0mevA2DykXUdgYExlKCw215hAFFm4bxHAVfAEIwt1AA0IPx9IA4wq
 mno/N1nW5vqGeqw4fgXZr48nHn8Sj6x7FIcdNg9XXXMVOcgZFFILKJWKlRcKOxhT62cQtAhnwc64
 EZ6E1QGvMRRIZvrsZW2TFD0UP0N+BrwA5Zg1Bc11HnpOMveolqdsuWQCumSWH1xG3SAfakBZZYII
 PU3Oh3hAqcIDOA6zo2Mh2VGxF+djkQRzEw66pnZizafPwVwSfPOrm3HOeWejrb0NYyNj5hmj+sKG
 tQK9O5/PwSdOwFHDodnzHWG0QpVKdH+R+iuZVsxNkFB5FCaGUcoOEauLh06QnnUJAGkBkE7c9sEA
 qCqZKutuVuPZ3Pb+cOYuQni6KYCEDo0cP7I0SekstYZlGJ5xDfEArwIAe2UavD0q4wdyExNwKJ4z
 D+DQx2oeI6FEmZh41qvrinfPkZ9I1icRZ28ubNbm0OBcY9tBaOteqAm+0YRiIY+6uoQNsdKmvxwG
 BYFgzYE0gMKochqR2nEjWrEbjfVAXSzMCkM3Keum0DPx3a7Ne3VtnAw1gKlB64xWnHnxhTX1RD+w
 GhAJ5ZKg6yg+H7N0GTm+TuMT+JxtMaPtfllrvLLze/gX9+HP16wxi7GOQ88YUqPoaBc+/FLOaJ7v
 0dEroJDNYNMfXsaJJ59APCBHAvFsuybqOJT38kIuh0DhJCjON+CVu2+DHpvEA8qzqKNkSBtHY8yg
 NuoYMHiw43keyEQFADoXMAChCfAAShRz6+rqkB4fMbPrGrV0DAjsHO0z9n6O48b5KQZPYHBwD2IO
 jOCUjnKVxgDAfSoGwS+QAhTJBLJIoECqP4KJYS54xCx3MGE3boSH0YYEaac2z8Yiv6qrlyOtzGwK
 rqG/zI8D6yRqbgyBMCFGV/EAHcZdXWnsYqOEZ7/rqD7a5w2FNgMhZ0RAmtBH8V2YVWOyP598TilL
 yQy13AAw8iZi472YNt6PzHNrIYoF+FKEJkYAJBoh6jogUzMh248AklPIYeqyTKhesjQ+1iLjlmtf
 qlJQLKuMDkMGe/sqE4i+V1qFhmromvM6fHE5YkTXWFjuJLCzbexds73TDBMAmtU+sxd693qogQ3Q
 ud2GqifodeQDzYoGM+agYBeWHTP5W20tsK4dTucSSoTy5ShgF1arzDyUO4wClZXrA/GAcqSIng+/
 R02Jd7gmwudE9XkyNzIFrXyj7ibE+QWTphrhqQV+Dmp4C/y3H4Ua2W4Ksn6Y1zvNc+DMnotYuhdi
 rA/BojNI1bMIxnehONYDQQlQvDQMJ/sEmliX3HAyZZVmR1rOANDow6uR9LVMUKv/HYAo1rD6q3cE
 QFU1W3GRPKVMaMjRmVmnEEfUHBh4FX73w/DHB0xE8ml644edjPZjPoPUrBWo61iC3G+uRvb52zHl
 cz8xM1cY7UVuz2sYffXnKHQ/QWaTRjJB3t+xk127HSGUmWR3Od83TC6o1DpqcoGAk5CccSg1TjCI
 nKAySQ87xWKxCI9sVykbGTg+uyYZEmHEoOaVTGPd5RBXyKbJuVF+TjPvasrwRjZCda+Flx5Eifp3
 Ohai65Sr0bjoLGzvGcLzD72AZ9b/AOc2/BpndkmcfcYqNE2bj2OOWYyVxx2HxZ/6Por9L2Dot/+K
 HB3jjjUPlkupqhpKYE1A7PzOlF1kf9NVIV3DA3I0xjGSOdN8LNILryPMKvWAiAOYbJCP9JDhASR0
 MllnVhbZM7smVkvjIUxaSwIrU3JmVldEiYy5nmYpSSwwTiZQV+rD1IlnSYXHkKdb6mjWp63+JraN
 1uMH/3E3Hrzvfuzdu8+M4cvHC3z22ATOvLOADAnGG2yamxrxyTPPwCWXfhHHLeoyIGQ2/hwJ4rtc
 InckQqdJ40s2c9jcLXbe2EFEyJ8eFEMAUAFgZJx8zWGn4uPXPGZstloDLA/wQx7g4LG1j2Dp8pVo
 62idxAMc4/059HF66lPa7BfJs5PdP/3Ywzj5xBXwc8MQhRF4W+5BrudF5Hkpc/YKTF3zHTz41Dbc
 9O0b0d29o7JVw27AMapcz9/NKr4dO69zdbS14IorLseXPr8amWe/h/zrDxhziIWLJVxDcAwA7m5X
 liSZqbSenB1UdT2AOyqWMDgwQIOexANUYEDgmWU2lqcYXUezP7RvF5mGBcWYAcdlYnZByTMgMKFR
 bPPE5RWZgiTvPzK4G7GBl6H7XiZaTH02dGDBWd/CY5uHce3XrkVmPGOEjsr7jjD71MzSthOCEtUE
 GZAJotw3U/bJvOSyz30dOwbeQn7PZogGywYFqYLwWTMlSR7YECiC/Vs5H4jS0+o2OYk3t6r9k8co
 tIYJlDDoWsIjKRQywUExAwy+hiAXoER9dp741xhKzMdN//xtI7wbCutSP0kWnloTCdxEZsatkT43
 8jV6dZL6auH8gEzz3//tdmzpyWLqyVfBF3Ug7E21W0eykexS6CSlg4lK+NOVZsIFR20VTPLiYdOV
 YyRozfnQ45tj4IefA/OZ/QD7FcPIJvZBpXcTvaXnm2Zi6nEX4pG1j+LVVzaUVT7GgrOgZMxTaGan
 NDRgatg66XtKxHBos4spSUlsUSBF93Jq/ouf3YumhacgNuMYo13ctQlomrfhJT3Shfo0RKJkwqDC
 AZq2CU91M4KFoc4UO21tEOGKLCJ+oCY9w04zsKAoZn8RMLlReLmM8foti1ZjXLbjfho401l2btyS
 PNskfGd9PWY0NWFuezsWdHZiXlsHpjW0YNWiFO74y3qccwyFTGV2GRqteWLdOvTtGUf7kjWkBdKU
 yoOAiRnJjPo0pWFNGyn3Y0J0ZMSYykQoqhCHNbkaHqAr8b5cwuIPETAyPIY5dplPBJWlZlvdITAK
 xPnzvgGgef6f4O3ut7F921vlLSxxnnlqbYkEpqZSmN7aihktLWhJJMmPeDj8kAz+dEUGb7wxhv49
 HlKOj2wIHGvB5g0bcfrKpQjizZSzjCIWJ9WPNWyXTsNGSfZwM7W7oCRC8yxzACO8r5DP5mqayeHD
 YzFfoMYZm2fWD4qFgjnm6VohZ+/P8XP0ObpeCptPjrFEzwcFfp6cn3KJ6ByN/r7d2LVrrxGeVZ9n
 s4EAaCUAptPsL+zqgkOq/+ToCNoXuTjzM9Pw5lsp3P1wDL17yASENRtOxsfJrrZt246G6Quh3Caz
 2BMEkif3Lpqxm90g+/YA3T8sBWVQHOt1pTDC9jeRK+CVDZvJW1evC0SV2pD5s3ZQKvrM00+bkGd4
 gMnTo8ULZWedWR/xfkkkSFIU4Dx+wyuvoCk9gVSYkvg9zyPRswF/dpjGjmHKFMes00uRCbSSCcwm
 ADIEWn7Jkfjm9/4F6594CHfe8ziSuxtpvKNoTFBEosmkUITGpMCyLoH20d+huH0BmVzJsmKy/2B0
 33CAfQOuVI0mXTdldZWtocI8K43NzTj93LNqeEBk34GyabTSkYmIsFAhbKVGOpXiKdcBOPxRHh+Q
 ygdk9zo/Ar+QQXbLHgz38apugIH7vorD6f4fXBjHP60N8MtXlAl5FMGM52+mDGgfRfumGe2YO2su
 NrTNxItbs/hEWyvirigHHSK46GwUuOkcrhE8gz0/fRoyH5YFCACpU8zfBFG3maOEyTPwe1/TemiR
 rsoBGBOP0H67u5uIW7amCBqt2NiqcGURM1qlEaZOH9YTjaP0DfUVFIuYA3DoE7ynj96r0hkzao98
 ctPq7+IPr72NO265DTuHrOqbxqZAsyryOVzy2al4MfkqrrriMnSOZnHajGkYGBxCifiJR31x4wRt
 V1rj8geKOPfTa3DhZ89B311/A5kjJilTr8nk7GforlFygvESuYR+ogQvS7iLAp5pZRcSJQNBzM2x
 uWYl5WXoQuYlw4JoBED1Amm5zG3WCx2bGnPhkmwdXCjh9I7yV23XrikyahTqD4WimX1xF5kogTSd
 bk/w6hNHjIKHKVMmMH/ZOJq3pmjO9iAVS5pFmaF0GhnKRfJkaiW6n/V1lCTr6XWwatop8NqPRoEs
 MGV8g3xZy3gfC+oiv9POnI73CMmWOCYiAsMyB6P9GO8hOz10mWURiErilQpSZdW2srm3popsIoZv
 grAgW9ZSVOr+/IL6FrOQgoIiPvQMZn3sLBwxZxre2poxTjAZ1vIbmz2cego51NcH8NKDWcSyCYzp
 LPZRHjJILU2ONUtaULAlFS6go7M5hUVHzMPQ1hfJ7MYQr2vQMRXvLU302SjjTJ0a7iJy7nb2DV8W
 eLwpOrDkI8a/jxjCrl9+C+PHnkeety0kEdiP80WgHHCtPlpwVJb9Ca4CUS7gBDlTC5CjgzZz1CUM
 bX4KH1tyNpYvXYr+rdvg0IvNshd1fNpJPhrqclj7gIfNmwgAcnI5up6mCDRUKtGMlygxUuZcUWsD
 wBFLjsa8Q2eh/6Efmx0fybbUrsTM6XepcKuPG4xMRHS2T3otLwonc67kOh9NCKeSDQS/N7ANu+6/
 ASX67hn2rN/TRjFZpRE8+Zy88PtNHZD7oZNT6knNyRKGezdh7M31+ORpp+GFRx+FP0IkicLWyqUC
 yxcrrH+hiGepSXqQNB+cpI/TeMdI8DE6TtDY8iEAnIuce955pMV9GN7ypIkQKdH6++LQeF+kuq7i
 +nd5pMmvkSmcJV3PdSglZAAUaYEmFxynYMw25LPH13jPO8XKDjEEgXMXV4Y7uMxCqNW4WM5D75P/
 ifmf+nusXr0aD9zzU7Q0Kpy80sHgsMbDv1Gk5nY1iQU1ANCRZ34i/M7nefvnmjPOwEkfX463HroB
 OjOEltaUTwb1VX+isjfS5Qyp6q/fVV0/C3I9nzflafKEyTCFjNMxFUO5iv5HbfsXFZOQogJIVKZy
 2B0Q0KO7t2Dn+nvxiRNPxXBPL15d/wJ+vLaIGDnPgQlhaoAFTiFoJjwaI69bsx4zAGPUWLzjly3F
 X/3FJRja8EuMbXkc7WQuzS1d/yVc3V89e65S8Um742NXu6JtpXYG5rthKGSVjSm7zUSjwpX+6N8+
 iIpGVBZbbKKSjAs0kPcefe034CTtgvPXYO70aVj/22cwPLjP/rSKEEhw0kNxfzinkKaHeS87r111
 dHTg9FVn4HMXXQCx92XsfPKHRKQK6Gzo2h5D41eVEjXqK3qu/XjtpnsiGkLlVwf+tp8FerzRLM6i
 Kks8mLs6q17GPIoLMUVPgKgHxrMaWS+BlnknouuIU5HO+Ni0YQO2v9WN7f37cMLsNJbPVvi7x3wE
 jW2YOnsWDj/qSJx6xiocMnMKBv/wIHY9dw/qgnFMa26cmNa04ALIunV60goJAXD8/iNTSgpv+OZA
 7LxG8a++lP7Ad8ea5cmAyRABQL4mVxDIZMneaVrdlkPQeeSpaJp1FDwRJ9VPoH3nT9Ccfg7bj/oO
 ZEsXGpqbUF/vItO3Cf0v3Yds90toSmh0pJKYXj/jFifZcZ0WUr3Ln82RomhxnaM6EtoZvlLLnC38
 foB/Miq0kCPQsUhN7WJpbqIXfc/fDad5JhpmfAz10xdR2CwSo3XQHJvAxNAQ9r3ejfH+TcjvfQN1
 9I7WeqC9PonORPudJMu12qStcn9FPLAG+JCUNmq7M/TmwBn5itaZhFbiA9spXS7CGFMQ8Hibrm8j
 T560okB+ochMMaxXTusUaGt28XqPZyr7HEES1OrIpdWRI21Jpkqtbuv3KQ+5VlCiJ5Ntdrfke/rh
 pDFS93qBQ38r1Z5bAjG8QFfTv4O80dnAy6s8iPYChnzB5Y1YBAwFMcIBzZp9BbBzwEN7sw2pzCli
 5BQ5arXE27fVJaddo73MWqW8/XbevcdfjRHnE8l1Qqc2utq9gfzzBYHjJ6q3xRxsIMzWVmGpNS+e
 ciGTFzn9oBKGVVhqgQHJ7kuqF24x6bTcK0XyGxDJXWbv4/v71VgFBOp2FxnnFylS/4Pr1d+m5NBi
 4vRz+De7qtpB6PcXGcrbg2RU8dVWC5RdGivv5RBhIkbqTXylJynbN3pe9iqJWL/SAV15d07Lfe+W
 CsoigrOBrqnSw+WQAzO0m1oug+zRnH4Ejtr/Z7EQ715byju9hHGIZeKkzc5uSFPNiSNwGzbJ0sTv
 XdG523fknVrl9+jyysa739L+Pn47rPfSfPyjNj9ynn2I9PpPgEwnlYw1C936JejsQqE8VwvPbkmR
 Cnryr0APyJLC5XglwyV5zshivhINW7UcvSvmqTR0quiLWc8GoruXTfG9iXzQAKgxkZ002sdtsi/a
 KHlYLFWJ6+DNAn6MRxjId0oT3yEsmpVV3k/geFrE0kI2bNR67Nd0ciSsSQ0ejJH/twADAHjWSdDX
 +VMCAAAAAElFTkSuQmCC
