Source: flexitimer
Section: user/other
Priority: optional
Maintainer: bale@balenet.com
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: www.balenet.com

Package: flexitimer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Time tracker application
 Keeps track of projects and creates reports
XSBC-Maemo-Display-Name: Timesheet
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
 bWFnZVJlYWR5ccllPAAAEo1JREFUeNrcWwlwHNWZ/vqYe6RpyZJ825I5YmyMhGP54rBJ4tRWUluY
 XWoLtkI2IdSytezGUOxJpQJbW6ls7W7CEe8RKo6hErbIAoXNFbYgsWWw5UtGwpZsg4RGJ9Y9o9Gc
 Pd1v//e6e2Yk68Syg9P2U2ta7/W873v/3a8lXIYjcW57DZ00atvtS9X257kcEWpN9u8H+Wf/6oON
 8z1X6dLBbuPAdlLbRq1GNJYFM8cAMwWwtOjHspG5TUy1+ZI8gOyFJAf5RX6l0W511Pb5V9dFrjgB
 iXO3O6B3ccDMiAJGhEBGLeBEwGU5iABOhKSGAEWDpIQcQp62yDgUuawEJM7exoE/zIETaI1l+wjr
 0OUDPBtC1AXUFnIyIjYRT/lveC8y7wTEm299mHo/juywZqY7SLzj+FwdcgCyZyWglpIo4p8Ca99/
 al4IGDt9C1/1VwnwdjPdTqIexef6ILWQvddx28EN513BdYcjn5mAsaat3KgdYPqAJsD/rkT9M6iG
 7KmC5Crn4O8IVh9pnDMBsVNbauivB8xUm8Yy/bgaD8ldQdJwDVeJO4rW1zfOmoDYyc1kYqV2M9mq
 0erjaj4k92IioZJIYFVFG45epA7qpKMYXjUz/ST2Vzd4ASX1KbHg12RX+atcHWaUgNFjmx5mRuJJ
 M95Cow38XhySQk5iDZ38jxRvOvbUlASMHtnILX67ET+nMWN0Msm4yoAXclAMJbCaq0BV8dbjkUlV
 gJnsYaaPkNEbHY+ZWWd2FREgSTZ++8wX1FSHNclVwgO5Jy7iKHpog7X6sRaNmYkceo7ZNMn9m9bZ
 ZJ9vIjhwmTfZbvZnQYTsh1K0RkhB6PaTkXESQKu/k2XHNFNP5FefWcB1cv9p3WpZw7rmkPN5k3gO
 WlUAj8tqbhe/aBFDtg1SJqZJapDnMc+NJ0Bnu1h6kJY4D56vtk6gk2YIoc2/RFn5rVeF+KeGT6Ov
 /iHo8dMI+iwSFIeEFGH0BHY5BAgVGHnnZu73R7LRppzlZ3zl6dcEZbNFt7wOb8WtV5X9SwydRvi1
 21FaDAS9gEu1VUFWoIaq+QqXlOz4ICJbuTp2snTMlm+IxnkwuehTSn+1geeHf8E6sMA6pGj+RtbC
 wxeVY+RYOWZY2iHkfZuZiYkOotmd+UCuAlfrkUUImQydCYPpLCw35ISVY87ZAMZYDcuMWauPvMtz
 SJhVxDXBNUiSNO9j5trfMArAmxYu4RIJK3OzmrwRNFmNmUmOM+uFkjAbIIWT4xPjn6eb4FzHOH3n
 QkJOop1mM8AIq2zaBAzuX1fDaJmZMSHsNfNScLT+6NRfYrsMk1rzmWasXbtGTMpp8zbGJuyM3Z+b
 dFlEO9KUKW0iMgp3ARECvOhMdoAwc+wqDKaxbDIn/oUxgGMMN2/ZPONKmqbF2MZNGwUImRwybxcH
 KhJ6unvQ09ODTZs2zWqMWA+6P298Whs31ub6T0fayY/JBUSRN+xyPvLjUiCpAU2mAGg7y2YuFpdC
 sZmlCrBJRLQQeGtrG57b+zwSiQQ2bNiAdCY97ZgpvswiYoIKTdF1alwCM9uuClHXM7kAKLf6tgTA
 nIPZZZh0Yul0Gnt+tgc+vx/33nsPPB6PJTHTjJmS6Lm4AbOgGchbQViYeZVdZYZZndORcUDsa+bc
 XI+qqjhU9x5OnTqF73znfnR2deHZnz6Lb9z3DWwhVZot2JlWdtYLUrjqBdmPZeTNai4BlP3FL7IB
 VhY0dwKy2Sy2bb8d4XAYP/zhv6C/vx8P/sWD2Lx50yUDnztTU+MQmN1lmkp6MLm7K2BurodBHuUe
 EvU3Xn8Dt9y6FUuWLPndVIMKwDMngXOsoMDMKA7gGc9EhiYwN5MbZLaFbm5uoduZOWu+bPkydHZ0
 ijbbMdIkbs0xlKI/uUF+lh0vwNtUVW1yg+V2PJPzAlKhfSAChARMYwN4m8kNOi6KK1jtxg1iYoqi
 TOnSPssYpz+f/4baDTnCHNImO46fLgYbKsBSWAExHQkw7Lx3nmzA5RHlfBQo6xEMtB6xJcCKAfwL
 ViBQuiJHhHOWaZhM85cmw8H/aEwlARN86IxVCGm2TxvmPoaD7m56E72n30TfmV9TJhfFIAmJIuXL
 Xnz9PNpyaKtuQdVtD0JbdpMgQbX7oVACxtm4TKWaW/0JcQCbbRzAJimWsksfw4F/Uv8/OP/2v8Ic
 7RT5fIDrsDuvx4WSz8a6EGl6ESc/eFEQcc2Ov4VXYVZZjNlSUBAHWNjUMMUBk9uAcXZgFuGHHQfm
 ejL731zHcIOYSURx5Kf3Id5xGF4erBDoAbUarb0BtPeGEI8Vo9Tjggd+mOkQFpclUL4gisVLG+DV
 zyLdeRitzx9GgMYFPRYBGJcL2BJgqYBlDCYzgjALysLTLmZBpZSxHDBxTZr9GL7qI12ncezZb0KK
 dyHgAvpd67C/IYCTx7rhQoySmwjKtHKUBCinRxBD8WsxdFZFEZah1L8ey28EKmv3QDWaxRdJNg7T
 Vpm8EbQwW0bQdhMXRVF2MnS0/ti04sxXjVvoFu7SzPEubVLdnmSMRAYtG+lA5Lffg8+Mwu0N4KWP
 r0PD8XasLXMhoJWgqnIVSrVSmrQbmY9PonbbetQdycKneVBRUgwpYmJh6hSa9z6GlTuOQ1r+M+ob
 h2LbPMmuEudsDpcAS87HLzIrzAeobaJsbXZukFzUhi8WuDRpUus22Rg9OYojP/lHeLNRZDwVeOr9
 Ynxw5jxKCPjO1Rl4jBvQ2z+G4cgwpblJxAdNDPzmI/h8ixDUApBCWaixNkieCFLuGDr2b0Fm/fVY
 ueXvSAriYqcNVyenQizZIC0bMFkkWJALTBvC2haTOWY295lNHbNPGMODopY3/h36hWZKmAJ4tiGI
 k2c6UFPDH1DL+MmZHhSb76E9riEeSQgJ4BYg3jdEP5P4FH3woQNfXR3DcNXd0AfGwMOpC6fKoGjf
 h3zt34vaH29uxZICJlk2gK6xiCR78mpg5EUfOWLYlC1n7NiEzwXXphvD//WdP4KuQ3vgocm93l2F
 ulMdWFG5AiOREYS0YnTGsqjvyYjVN8mxyy5aOS+DQo25dWTkFNEwhnfOFeHNXx1FYKUKV6WBEfSj
 97er0Be7F6MJIJXOF0jBMRN2memsaWKuPC5+Nq0Vmq7lV5zlPzs5+0xj6Pfzbz4JH4FPeCvR09aD
 ZUUyqmuqBTkHDx4URHAl9vtdWFDkRhn5wzKviQVeAyV+hqIi8vd+A2k5gQRG0R5uJ80fRajGhaIl
 JxA9dgeiUrko8WfsGqFYZMJuxQFMGR8HFCQSbAYVYAXgp7s2VT0wPtSNsU+OIkQLsq81gBOdnXjg
 Jj9Cg++iCWWCBIWimZDfhxKSV382Tq4OcBlkY0gZZMUD5grAcBUhQ3YnnUgIAlgyhttubMGAuQRn
 P6yE2n03AhX/RbEBjZV4HUCxQmHTZAdJEx7/rDaAFa628zvpH5NsaZCkaUnraXgLFVw5/eU4eKYf
 0TRD29KvoP3shwQkTPoqo9jvgSZnESQZ9mUIAOPQOQEGZIO+TyeD6jKg+OieZENSY3F09El4v3I7
 Wf5SUOyIvu4vYGEIKCLX6qXvc3Htz7KDdA+yAfQRE0TfSR8tVTVnaFZHqSDOnK5/LtSkpgycFisS
 TlVgcGAAlZUrxR0+PN8u7ul1kxhTROdPJeBNZwm8SbMlsMhS0wlGBgpLQc2QcUyR+1RSYB5d2ISW
 810oWumBoSXR1RRDWlsrnm8KO8BI+Am7uvKJ3sbw9xfTBXm8KyjIBU4cb5ihTJVf0YaGD/KFSvF/
 +iqvHOuGQjrcbG9DqqysFMUUTilPePxuFT4jA3fGFDV8hciVhW9gouWNK13LSFDIBSruYtJ3Hf2R
 PqTJKkghHTEyoIN9KylYakbWpJHkBq75594m57lAI6UONZQcjLcBdi7wxfU104ezLE+Ek41Zef30
 WRGPAwZcVpASt74akUgkd2eJxN9D+q+maLWZcFn4m717cKbuEM4cPETxQJRajL7FoN46+XbqoSch
 eT3QZWv+4XAHBUoBjIUj0M2stfo8/suypvyDEQmNkN01ojg6MWGxo7aZSi9ssvR1plyAWfm90+3R
 2iD9bEVXzBD7X3l0KPw3L5jYner378fWO+/EQ3++CuEehpdfaMLRfW8IBRS9zDSd08hKfO14ZHiY
 vIqEpatD0JnL2uNASkTKWEgAq4Pk+hbMiyNBxa7ezL4IZzE6c/2PR4PMSlTsrj86MSaCH3j5p0ar
 BC5olHJkHtm3jwDvx9Gdd4rvWbdtG770Z/ehL9yFt59/Ec1nPyJZ4P9MIRlt3mp06RQmnfsUf7Q6
 KVRaklwkDeahHAFmku0ju7iX8YyhYOKyaXUYOvRzlN76rTlWI2fOHoUbEi7JDk3p0DQtpwZcRXS6
 nqVORjpvp6vW3wzd4xEEvPyjH2OouxdllCdsIlK2PXAf2rv78cqv3kJv+wUsrCxHa2MYKYoMLP/E
 1VPFyTb9tRwBq/6tPxJ+rLzRVD2kBqn8bgv6waOz4bd+gHQ8Cm/VJitsmK/dHDSl8hWrke07hxvL
 gZcBYQC5FDQ2NopHZ0mdAhwXBb4qWX7S3xW1tRitqsJA0prnqrt2YtG582h45wDadu/GWCCIbGAB
 tn/1KxirjlMS5cNgZICUQkd5sQE166a4gX14/yuR8VtkzDR7WlI9ewsJ4NUUHjsHKa+O1+3G4Lu7
 kTZEEnVJJDj39tC388CE7+C4ORCHPxDIEeB4g0Q6jTGXHy7KZIKqD91FQbQetYq0a9asoRu48YlL
 QYp0KUk34yZxqO8CfvHcC7iZ7tOFHgwRASvoft6xY3AXuzE6av6nI6ZqgUXaJ8nqk9Q0ZmZzFRde
 VvLxogT9TpEouRCrBHWpB5cuxS5Z8T1HRiyM2hvWou5kM/pOvIVdX/DikTDfz2AgkiJf7/PixvXV
 eK2+XhB4591/SCnwIuymVa+t3YiYX8WY6sYISUaGTL1G7P5J6Wm88KFMa+/C2sokmZYUXGpx9J22
 zOuOqVOcCT1dn0zt2uLz0czEs8Jc6U7KT9Yl51dNnC+xcfVy2Tk6n82ihRXQR0dR4VfwydId8Hq9
 uHDhgiAhw5Xf5YZCbWRkBGWl5XjppZfEM4ilS5bg08FhDCczSGUyZEdCqLzuenQY5diqDWDY9OLr
 axOo8FCQJMlPP7Av9mvnYdnEGvRTlGpFJEUdr6sOAYrd6M/uS2zOvVT7vpzUqnQz5EXX4n/PJYUN
 4IfwCnzjEwE7ff5jLF26VBjHAwcOiHMwGBSz7I/FqQ9/2Grippp1KNaK8N7xD/DMCR3r15WgJNMJ
 n8cVffOjzH+IzSMTquS5o+0R7WGKEZ8002NXbEMgV6kMrUeMBI+v2j8cpHPvQA68mYzCGOpC86Cl
 mps3559TxEZjaGlpEVC2LnXDc91WRCOj6Ax3YpSCpJrVK/GXa7qxMMA9iPTY134Re5I6Z5xy76Sh
 GpFwgNRgO8skrtgjPG4HKODDKLm7s6wS33s3bucGlfj2siGckK5HNwVI3EXyxkkRtsSnoYRcJ+/n
 6TiKlQtL8PK5tCBhxeIKPLpZx3LPKII+1+Ev7Y39ARemgmfFmOrRzV2SwlXBdUUIcNSMexxeyb0e
 Yfz4y8AN11aKlR+lDPFM15CIEThQLhm8TvjQH+8QyROzQ+jzbBFu8McxQr9vWbcCj27RsUQdQcjn
 ir7aot9bsPJsxkcYbbuK7bdFkhoz9CsiBVzjdFsSuDpEzADejlTilYZ+IQ1OoMTbYr0XWkhDfW/G
 ziGiAkxZeQW+vaUMN6phaGoaoYA32hExv/7NVxMn6c/6xKcS02YrbbuKLBIMXWN6Gpd7c6xDAne1
 Kb5JU7eIGHOV4zeDFWgZJPXotMhYXmQ5MJ43rCSpWL4ggK3LgLXefvgzgyj2uxH0qtGOKPvan76c
 aJgM/GweYqHtu0HrpSlmknskK2saV4QEHmzxnaqciCRNPUFSkeT7Fr3lMPwV4u85ACNhqEZceBIf
 6VGAgiNVkd/7v9bsPU/Uibc+jCmeR83+tbm27wb4NvPHiQBNxAnMvOyeQUiDLRGcDO4puIo4wRiz
 4xQeTBFgiihdcLmUKPX7wdY9iWfyZd6pRXdOL062/rU/9+IkEaDxrWbWLkR2WaWB2VsYDBt4Ph+R
 xN5fWVEodVYiWZPtbrrAnrn/tdTwhFI05oWACUTspJmJV2ed0pFQD8bmnZDcs0NmPd9ikmI/5uGV
 HTQRMU9/Oob9O36ZjBR2n60HuqSj9a+8F788nduFlCdj9jUFe2K5jRLOc3DZQSVenqZzHXmL/Tf9
 dyoyF8DzTsAUpIx/fZ6xz/b6vCSNe33+2t2peX99/v8FGAAEQUYEL8I0tQAAAABJRU5ErkJggg